@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

body {
  font-family: 'Titillium Web', sans-serif;
  border: 1rem solid #ff4b00;
}

#root,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  color: #93005a;
}

h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#root {
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

button,
input[type=submit] {
  color: gray;
  border: 1px solid lightgray;
}

button:hover,
input[type=submit]:hover {
  color: black;
  background-color: lightgray;
}

form,
.input-group {
  display: flex;
  flex-direction: column;
  width: 290px;
}

.input-group {
  border: 1px solid lightgray;
  margin-top: 1rem;
  padding: 1rem;
}

input[type=text],
select {
  width: 250px;
}

input[type=checkbox] {
  margin-right: 0.5rem;
}

input[type=submit] {
  margin-top: 1rem;
}

.pending {
  background-color: rgb(224, 255, 224);
  color: rgb(0, 81, 11);
  font-size: 0.75rem;
  padding: 0.75rem;
  margin-top: 1rem;
}

.failure {
  background-color: rgb(255, 201, 201);
  color: rgb(189, 0, 0);
  font-size: 0.75rem;
  padding: 0.75rem;
  margin-top: 1rem;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#app ol {
  margin-top: 2rem;
}

#app li {
  border: 1px solid lightgray;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
}

#orderList {
  margin-left: 1rem;
  width: 290px;
}

footer>a {
  font-size: 0.85em;
  color: #ff4b00;
}

#sizeFilters {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.button-filter {
  margin-left: 0.5rem;
}

.button-filter.active {
  background-color: #ff4b00;
  border-color: #ff4b00;
  color: white;
}
